:root{
    --gris: rgb(235, 234, 234);
    --gris2: #676767;
    --gris3: #2d2d2d;
    --blanco: #ffffff;
    --negro: #232222;
    --azul: #0a90ca;
    --enlace_hover: #0074a5;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    background-color: #f4f4f4;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.botones {
    text-align: center;
}

input[type="button"] {
    background-color: #4caf91;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgb(100, 230, 107);
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: #fff;
}

.btn-eliminar, .btn-editar{
    background-color: #4caf91;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 5%;
}

.btn-eliminar:hover, .btn-editar:hover {
    background-color: rgb(100, 230, 107);
}
